<div class="jobs-description" id="jobs-cv">                       
    <dl class="row">
        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">{{cv.first_name}}</dd>
        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">{{cv.last_name}}</dd>                        
        <dt class="col-sm-3">Email Address</dt>
        <dd class="col-sm-9">{{cv.email}}</dd>
        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">{{cv.phone}}</dd>
        <dt class="col-sm-3">Country</dt>
        <dd class="col-sm-9">{{cv.country}}</dd>
        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">{{cv.city}}</dd>                        
        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">{{cv.address}}</dd>
        <dt class="col-sm-3">Postal Address</dt>
        <dd class="col-sm-9">{{cv.postal}}</dd>
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9"><pre>{{cv.description}}</pre></dd> 
        <dt class="col-sm-3">CV Text</dt>
        <dd class="col-sm-9"><pre>{{cv.text}}</pre></dd>                                                                                    
    </dl>                
</div>