{% extends "jobs/layout.html" %}

{% block body %}

<br>
<div class="container">
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}

    {% if not stop_edit %}

    <div id="jobs-pagination" class="jumbotron jumbotron-fluid">
        <h1 class="display-4 "><i class="bi-binoculars"> </i> Jobs</h1>
        <p class="lead ">List of jobs. {{count}} total.</p>
        <hr>

        <div class="pt-2 pb-2">
            <form action="{% url 'applicant_job_list_init' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" id="search-title" name="search-title"
                        placeholder="CV Search" value="{% if search_title is not None%}{{search_title}}{% endif %}">
                    <input type="text" class="form-control" id="search-location" name="search-location"
                        placeholder="Location Search"
                        value="{% if search_location is not None %}{{search_location}}{% endif %}">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="bi-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        {% for job in page %}
        <div class="pt-2 pb-2">
            <div class="card border-0">
                <div class="card-body jobs-card">
                    <h4 class="card-title">{{job.title}}</h4>
                    <p class="card-text">{{job.description|slice:"0:64"}}...<br>
                        {{job.company.name}} {% if job.location != '' %}| {{job.location}} {%endif%}
                        {% if job.salary != 0 and job.salary != None%} | ${{job.salary}}{% endif %}<br>
                        {{job.date}}</p>
                    <a href="{% url 'applicant_apply_job' job.id %}" class="btn btn-primary"><i
                            class="bi-binoculars"></i> View</a>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="pt-2 pb-2">
            <nav aria-label="Job view navigation">
                <ul class="pagination ">
                    {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                            href="{% url 'applicant_job_list' page.previous_page_number %}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">Previous</a>
                    </li>
                    {% endif %}
                    {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                            href="{% url 'applicant_job_list' page.previous_page_number %}">{{page.previous_page_number }}</a>
                    </li>
                    {% endif %}
                    <li class="page-item active ">
                        <a class="page-link" href="{% url 'applicant_job_list' page.number %}">
                            {{page.number}}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {% if page.has_next %}
                    <li class="page-item ">
                        <a class="page-link" href="{% url 'applicant_job_list' page.next_page_number %}">
                            {{page.next_page_number }}</a>
                    </li>
                    {% endif %}
                    {% if page.has_next %}
                    <li class="page-item ">
                        <a class="page-link" href="{% url 'applicant_job_list' page.next_page_number %}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled ">
                        <a class="page-link" href="">Next</a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
