{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Jobs{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="{% static 'jobs/styles.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
</head>

<body class="jobs-body">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary  jobs-navbar">

        <a class="navbar-brand" href="">Jobs</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% if nav_items_left%}
            <ul class="nav navbar-nav mr-auto">
                {% for nav_item in nav_items_left %}
                <li class="nav-item text-dark {%if nav_item.active %} active {% endif %}">
                    {% if nav_item.state%}
                    <a class="nav-link"
                        href="/{{nav_item.view}}{% for state_item in nav_item.state %}/{{state_item}}{% endfor %}"><i
                            class="{{nav_item.icon}}"></i> {{nav_item.text}}</a>
                    {% else %}
                    <a class="nav-link" href="{% url nav_item.view %}"><i class="{{nav_item.icon}}"></i>
                        {{nav_item.text}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            <ul class="nav navbar-nav ml-auto">
                {% for nav_item in nav_items %}
                <li class="nav-item text-dark {%if nav_item.active %} active {% endif %}">
                    {% if nav_item.state%}
                    <a class="nav-link"
                        href="/{{nav_item.view}}{% for state_item in nav_item.state %}/{{state_item}}{% endfor %}"><i
                            class="{{nav_item.icon}}"></i> {{nav_item.text}}</a>
                    {% else %}
                    <a class="nav-link" href="{% url nav_item.view %}"><i class="{{nav_item.icon}}"></i>
                        {{nav_item.text}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>

        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>